# Dependencies
node_modules/
.pnp
.pnp.js

# Env & secrets
.env
.env.*
!.env.example

# Build output
.next/
out/
dist/
build/

# Hardhat
contracts/artifacts/
contracts/cache/
contracts/typechain-types/
contracts/coverage/
contracts/coverage.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
